{{> partials/header.html}}
<div class="container">
    <h1>Add New Session</h1>
    <br>
    <form name="addNewPlayer" method="post">
        <fieldset class="form-group">
            <label for="title">Session Name</label>
            <input type="text" class="form-control" id="fname" name="sessionName">
        </fieldset>
        <br>
        <input type="submit" class="btn btn-primary" name="submit"/>
    </form>
</div>
</body>
</html>