<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add New Session</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Add New Session</h1>
    <br>
    <form name="addNewPlayer" method="post">
        <fieldset class="form-group">
            <label for="title">Session Name</label>
            <input type="text" class="form-control" id="fname" name="sessionName">
        </fieldset>
        <br>
        <input type="submit" class="btn btn-primary" name="submit"/>
    </form>
</div>
</body>
</html>