{{> partials/header.html}}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 centered">
                <p style="color: #ffffff;">Longitude is : {{model.longitude}}</p>
                <p style="color: #ffffff;">Latitude is : {{model.latitude}}</p>
            </div>
        </div><!--/row-->
    </div><!--/container-->
</div><!-- /H -->
</body>
</html>
