<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successful Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">
    <!--<script src="/scripts/facebookLogin.js"></script>-->
</head>
<body>
<div id="fb-root"></div>
<div id="h">
    <div class="logo">SUNDAY SESSIONS</div>
    <div class="social hidden-xs">
        <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-instagram"></i></a>
        <a href="#"><i class="ion-social-facebook"></i></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 centered">
                <p style="color: #ffffff;">Longitude is : {{model.longitude}}</p>
                <p style="color: #ffffff;">Latitude is : {{model.latitude}}</p>
            </div>
        </div><!--/row-->
    </div><!--/container-->
</div><!-- /H -->
</body>
</html>
